<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Website | Page</title>
  <link href="../../style.css" rel="stylesheet" type="text/css" />

<!--   TCS-   -->
  <link rel='stylesheet' href='https://gtml.gavingogamingrepl.repl.co/tcs-latest.css'> 
</head>

<body>
  
  <sipro-text data-sipcolor=blue data-sipboldness=1000>I am a SECCOND page</sipro-text>

<!--   GTML   -->
  <script src='https://gtml.gavingogamingrepl.repl.co/gtmlscript-latest.js'></script>
<!--   Siprotex   -->
  <script src='https://gtml.gavingogamingrepl.repl.co/Siprotex.js'></script>
<!--   Custom Script   -->
  <script src="../../script.js"></script>
</body>

</html>
